<h1>{{ title }}</h1>
 <!-- Dropdown Trigger -->
 <div class="flex__container">
   <span>Choose Filter: </span> 
   <!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Select Filter</a> -->
   <select name="" id="" (change)="displayData($event.target.value)">
      <option value="" disabled>SELECT OPTION</option>
      <option *ngFor="let item of filters" value="{{item}}">{{item}}</option>
    </select>
 </div>

 <div class="data__table">
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Parent Code</th>
        <th>Parent Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filter_data">
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
      </tr>
    </tbody>
  </table>
 </div>

 <!-- Dropdown Structure -->
 <!-- <ul id='dropdown1' class='dropdown-content'>
   <li *ngFor="let item of filters"><a href="#!">{{item}}</a></li>
 </ul> -->
 
